* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.navigasi {
  display: flex;
  flex-direction: row;
}
.logo img {
  margin-top: 40px;
  margin-left: 40px;
}
.nav-bar {
  display: flex;
  align-items: center;
  margin-right: 100px;
  margin-left: 300px;
  margin-top: -500px;
}
.nav-bar a {
  text-decoration: none;
  margin-top: 40px;
  color: black;
  font-weight: bold;
  margin-left: 30px;
}
.btn-one {
  padding: 15px 50px;
  margin-top: 40px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-weight: bold;
  margin-left: 90px;
  position: fixed;
}
.button-one {
  background: linear-gradient(#a80000, #4e1919);
  height: 100vh;
  width: 30%;
}
.tagline {
  margin-top: -450px;
  margin-left: 100px;
  font-size: 40px;
  font-weight: 700;
}
.red-one {
  color: red;
}
.red-two {
  color: red;
}
.deskription-one {
  margin-left: 100px;
  margin-top: 30px;
}
.price {
  font-size: 40px;
  font-weight: 700;
  color: #ff9900;
  margin-left: 100px;
  margin-top: 30px;
}
.btn-two {
  background-color: #a80000;
  color: white;
  border: none;
  margin-left: 100px;
  margin-top: 30px;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.burger {
  display: flex;
  flex-direction: column;
  margin-left: 550px;
  width: 300px;
  /* position: relative; */
  /* background-color: #ff9900; */
}
#breadone {
  position: absolute;
  margin-top: 96px;
  margin-right: 210px;
  top: 0;
  right: 0;
  z-index: 4;
}
#vegetable {
  position: absolute;
  margin-top: 170px;
  margin-right: 160px;
  top: 0;
  right: 0;
  z-index: 3;
}
#meat {
  position: absolute;
  margin-top: 230px;
  margin-right: 160px;
  top: 0;
  right: 0;
  z-index: 2;
}
#breadtwo {
  position: absolute;
  margin-top: 300px;
  margin-right: 160px;
  top: 0;
  right: 0;
  z-index: 1;
}
.leaf {
  margin-top: -460px;
  margin-left: 500px;
  width: 120vh;
  height: 90vh;
}
.deco-one {
  height: 1000px;
}
.sct-two {
  background: linear-gradient(#4e1919, #a80000);
  margin-top: -50px;
}
.container {
  margin: 100px 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-one {
  width: 30%;
  background-color: bisque;
  padding: 10px;
  border-radius: 12px;
  box-shadow: -1px 0px 76px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 76px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 76px -8px rgba(0, 0, 0, 0.75);
}
.warp-image img {
  width: 100%;
}
.warp-image {
  width: 100%;
}
.text-card button {
  padding: 12px 24px;
  background-color: #4c6fff;
  border: none;
  border-radius: 12px;
  color: white;
}
.text-card p {
  margin: 12px 0;
  color: grey;
}
.text-card {
  padding: 12px;
}
#dotDescriptionOne{
  margin-top: 30px;
}
#dotOne{
  color: white;
}
.desc-one{
  color: white;
}